@font-face {
    font-family: "Resource-Han-Rounded-CN-Regular";
    src: url('../COMMON/font/ResourceHanRoundedCN-Regular.ttf');
}

@font-face {
    font-family: "TorusNotched-Regular";
    src: url('../COMMON/font/TorusNotched-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 2560px;
    height: calc(1440px + 250px);
}

#operation-hint {
    position: absolute;
    top: 123px;
    left: 1048px;
    width: 441px;
    height: 47px;
    font-family: Resource-Han-Rounded-CN-Regular;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

:root {
    --text-color: #ffffff;
    --font-family-han: 'Resource-Han-Rounded-CN-Regular', sans-serif;
    --font-family-torus: 'TorusNotched-Regular', sans-serif;
    --gap: 10px;
    --player-avatar-size: 50px;
    --team-avatar-width: 121px;
    --team-avatar-height: 88px;

    --team-a-color: #824242;
    --team-b-color: #415a8a;
}

/* 容器和基本布局 */
#team-a, #team-b {
    position: absolute;
    width: 451px;
    height: 1113px;
    border-radius: 40px;

}

#team-a {
    top: 26px;
    left: 39px;
    background-color: #412121;
}

#team-b {
    top: 26px;
    right: 39px;
    background-color: #202d45;
}

/* 头像和队名 */
#team-a-avatar, #team-b-avatar {
    position: absolute;
    width: var(--team-avatar-width);
    height: var(--team-avatar-height);
    object-fit: contain;
    border-radius: 10px;
}

#team-a-avatar {
    left: 28px;
    top: 27px;
}

#team-b-avatar {
    right: 28px;
    top: 27px;
}


#team-a-name, #team-b-name {
    width: 400px;
    position: absolute;
    font-family: var(--font-family-han);
    font-size: 50px;
    color: var(--text-color);
    /* 避免英文队名被判定为单词导致不换行 */
    word-break: break-all;
}

#team-a-name {
    left: 28px;
    top: 115px;
    text-align: left; /* 默认左对齐 */
}

#team-b-name {
    right: 28px;
    top: 115px;
    text-align: right; /* 右对齐 */
}


#team-a-player-list, #team-b-player-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 400px;
    height: 650px;
    position: absolute;
}

#team-a-player-list {
    left: 28px;
    top: 240px;
}

#team-b-player-list {
    right: 28px;
    top: 240px;
}


.team-a-player, .team-b-player {
    position: relative;
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center; /* 让内容在纵向上居中 */
}

.team-a-player-avatar, .team-b-player-avatar {
    position: absolute;
    width: var(--player-avatar-size);
    height: var(--player-avatar-size);
    border-radius: 10px;
}

.team-b-player-avatar {
    right: 0;
}

.team-a-player-name, .team-b-player-name {
    font-family: var(--font-family-torus);
    font-size: 30px;
    color: var(--text-color);
    position: absolute;
    width: 300px;
    height: 30px;
}

.team-a-player-name {
    left: 90px;
    top: 15px;
}

.team-b-player-name {
    right: 90px;
    top: 15px;
    text-align: right;
}


/* 闪烁动画 */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    /* 开始和中间阶段，元素完全可见 */
    50% {
        opacity: 0;
    }
    /* 中间过渡阶段，元素变为不可见 */
}

/* 初始状态 */
.animated {
    opacity: 0; /* 默认不显示 */
    animation: blink 0.7s linear 2; /* 动画持续1秒，线性变化，重复2次 */
    animation-fill-mode: both; /* 确保动画在开始前和结束后保持最后一帧的样式 */
}

/* 动画结束后，保持可见 */
.animated.shown {
    animation: none; /* 移除闪烁动画 */
    opacity: 1; /* 保持完全可见 */
}

/* 淡出过渡 */
.animated.fade-out {
    transition: opacity 0.5s ease; /* 透明度过渡0.5秒，效果平滑 */
    opacity: 0; /* 淡出至完全透明 */
}


#operation-container {
    position: absolute;
    width: 1433px;
    height: 1101px;
    left: 557px;
    top: 26px;
    border-radius: 40px;
    background-color: #3d3d3d;
    overflow: hidden;

    border: solid 6px #33302f;
}

#split {
    position: absolute;
    top: 53px;
    left: 710px;
    width: 10px;
    height: 1020px;
    background-color: #a69f90;
    border-radius: 5px;
}

/*左右两个Ban选图列表*/
#team-a-operation,
#team-b-operation {
    position: absolute;
    top: 53px;
    width: 601px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#team-a-operation {
    left: 41px;
}

#team-b-operation {
    right: 41px;
}

#team-a-blank,
#team-b-blank {
    position: relative;
    width: 602px;
    height: 100px;
    background-image: url('../COMMON/img/pick_blank.png');
}

/*单个Ban选图*/
.team-a-ban,
.team-b-ban {
    position: relative;
    width: 602px;
    height: 100px;
    border-radius: 35px;
}

.team-a-pick,
.team-b-pick {
    position: relative;
    width: 602px;
    height: 100px;
    border-radius: 35px;
    z-index: 20;
}


.team-a-ban::before,
.team-b-ban::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色 */
    z-index: 1;
}

.team-a-map-cover,
.team-b-map-cover {
    position: absolute;
    width: 592px;
    height: 90px;
    border-radius: 30px;
    object-fit: cover; /* 保持图片的宽高比并填充容器 */
    overflow: hidden; /* 隐藏超出容器的内容 */
}

.team-a-map-cover-border,
.team-b-map-cover-border {
    width: 602px;
    height: 100px;
    border-style: solid;
    border-radius: 35px;
    border-width: 5px;
    box-sizing: border-box;
}

.map-border-nm {
    border-color: var(--border-color-nm);
}

.map-border-hd {
    border-color: var(--border-color-hd);
}

.map-border-hr {
    border-color: var(--border-color-hr);
}

.map-border-dt {
    border-color: var(--border-color-dt);
}

.map-border-fm {
    border-color: var(--border-color-fm);
}

.map-border-tb {
    border-color: var(--border-color-tb);
}

.team-a-map-cover,
.team-b-map-cover {
    filter: brightness(0.7);
}


.team-a-map-mod-container,
.team-b-map-mod-container {
    width: 109px;
    height: 39px;
    position: absolute;
    bottom: 0;
    display: flex;
    /*水平垂直居中*/
    justify-content: center;
    align-content: center;

}

.team-a-map-mod-container {
    border-radius: 0px 35px 0px 35px;
}

.team-b-map-mod-container {
    right: 0;
    border-radius: 35px 0px 35px 0px;
}


.map-mod-container-nm {
    background-color: var(--border-color-nm);
}

.map-mod-container-hd {
    background-color: var(--border-color-hd);
}

.map-mod-container-hr {
    background-color: var(--border-color-hr);
}

.map-mod-container-dt {
    background-color: var(--border-color-dt);
}

.map-mod-container-fm {
    background-color: var(--border-color-fm);
}

.map-mod-container-tb {
    background-color: var(--border-color-tb);
}

.team-a-map-mod,
.team-b-map-mod {
    width: 58px;
    height: 24px;
    font-family: TorusNotched-Regular, sans-serif;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}


/* 标题、艺术家相关样式 */
.team-a-map-title,
.team-b-map-title,
.team-a-map-artist,
.team-b-map-artist {
    position: absolute;
    font-family: TorusNotched-Regular, sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-a-map-title,
.team-b-map-title {
    font-size: 33px;
}

.team-a-map-artist,
.team-b-map-artist {
    font-size: 21px;
}


.team-a-map-title,
.team-a-map-artist {
    width: 560px;
    right: 27px;
    top: 16px;
    text-align: right;
}

.team-a-map-artist {
    top: 56px;
}

.team-b-map-title,
.team-b-map-artist {
    width: 560px;
    left: 27px;
    top: 16px;
}

.team-b-map-artist {
    top: 56px;
}


#chat {
    position: absolute;
    width: 1160px;
    height: 273px;
    bottom: 263px;
    left: 700px;
    background-color: #211f1d;
    border-radius: 27px;
    border: solid 6px #33302f;
    box-sizing: border-box;
}

#chat-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 143px;
    height: 36px;
    background-color: #33302f;
    border-radius: 21px 0px 21px 0px;
    display: flex;
    justify-content: center;
}

#chat-label {
    font-family: "Resource-Han-Rounded-CN-Regular", sans-serif;
    font-size: 18px;
    color: #ffffff;
    /*垂直居中*/
    line-height: 36px;
}

#chat-content {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 1140px;
    height: 240px;
    overflow-y: auto; /* 当内容溢出时，自动显示垂直滚动条 */
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-content p {
    font-family: Sarasa-UI-SC-Bold, sans-serif;
    font-size: 25px;
    margin: 0px;
    color: #ffffff;
}

.time {
    color: #e3e3e3;
}

.player-a-name-chat {
    color: #ea5455;
}

.unknown-chat {
    color: #28cc9e;
}

.player-b-name-chat {
    color: #a1eafb;
}


/*以下为控制面板样式*/
.control-panel {
    background: #363636;
    width: 2560px;
    height: 250px;
    position: absolute;
    top: 1440px;
}

.panel-title {
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;

    top: 10px;
    left: 10px;

}

.panel-buttons {
    position: relative;
}

.panel-label {
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

.button-inactive {
    background-color: #1d536e;
    border-radius: 8px;
    width: 180px;
    height: 48px;
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 20px;
    color: #808080;
    border: none;
}

.button-active {
    background-color: #44aadd;
    border-radius: 8px;
    width: 180px;
    height: 48px;
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

.button-active:hover {
    background-color: #64cafd;
}

.button-inactive:hover {
    background-color: #2b617c;
}

.button-warning {
    background-color: #ff3057;
    border-radius: 8px;
    width: 180px;
    height: 48px;
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

.button-warning:hover {
    background-color: #ff4f6f;
}


.round-control {
    position: absolute;
    top: 50px;
    left: 20px;
}

.map-pool-control {
    position: absolute;
    left: 50px;
    bottom: 273px;
}

.ban-pick-control {
    position: absolute;
    left: 500px;
    top: 45px;
    width: 770px;
}

.ban-pick-control-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.undo-control {
    position: absolute;
    left: 1350px;
    top: 45px;
    width: 300px;
}

.bp-order-control {
    position: absolute;
    left: 1600px;
    top: 45px;
    width: 600px;
}

.map-pool-mod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
    gap: 15px;
    justify-content: end;
}

#map-pool-mod-container {
    display: flex;
    gap: 20px;
}

.map-pool-button-base {
    border-radius: 8px;
    width: 80px;
    height: 28px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
}

/* 使用CSS变量定义不同状态按钮的颜色 */
:root {
    --border-color-nm: #B1C2C4;
    --border-color-hd: #FFB347;
    --border-color-hr: #FF6D6D;
    --border-color-dt: #CCA4F4;
    --border-color-fm: #7FB7E9;
    --border-color-tb: #8EDC76;
}

.map-pool-button-nm {
    border: 3px solid var(--border-color-nm);
}

.map-pool-button-nm:hover {
    background-color: var(--border-color-nm);
}

.map-pool-button-hd {
    border: 3px solid var(--border-color-hd);
}

.map-pool-button-hd:hover {
    background-color: var(--border-color-hd);
}

.map-pool-button-hr {
    border: 3px solid var(--border-color-hr);
}

.map-pool-button-hr:hover {
    background-color: var(--border-color-hr);
}


.map-pool-button-dt {
    border: 3px solid var(--border-color-dt);
}

.map-pool-button-dt:hover {
    background-color: var(--border-color-dt);
}


.map-pool-button-fm {
    border: 3px solid var(--border-color-fm);
}

.map-pool-button-fm:hover {
    background-color: var(--border-color-fm);
}


.map-pool-button-tb {
    border: 3px solid var(--border-color-tb);
}

.map-pool-button-tb:hover {
    background-color: var(--border-color-tb);
}

.map-pool-button-a-pick {
    background-color: #ff3057;
}

.map-pool-button-b-pick {
    background-color: #64cafd;
}

.map-pool-button-a-ban {
    background-color: #ff3057;
    filter: brightness(0.5);
}

.map-pool-button-b-ban {
    background-color: #64cafd;
    filter: brightness(0.5);
}

.grow-left::after {
    right: calc(100% - 40px);
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 35px 0 0 35px;
    z-index: -1; 
    box-sizing: border-box;
    padding-right: 15px;
    animation: slide-left 1s; 
    content: attr(grow-winner-content);
    background-color: #7f7f7f;
}

.grow-right::after {
    left: calc(100% - 40px);
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 35px 35px 0;
    z-index: -1; 
    box-sizing: border-box;
    padding-left: 15px;
    animation: slide-right 1s; 
    content: attr(grow-winner-content);
    background-color: #7f7f7f;
}

@keyframes slide-right {
    0% {
        left: calc(100% - 75px);
    }
    
    100% {
        left: calc(100% - 40px);
    }
}

@keyframes slide-left {
    0% {
        right: calc(100% - 75px);
    }

    100% {
        right: calc(100% - 40px);
    }
}
