@font-face {
    font-family: "Resource-Han-Rounded-CN-Regular";
    src: url('../COMMON/font/ResourceHanRoundedCN-Regular.ttf');
}

@font-face {
    font-family: "TorusNotched-Regular";
    src: url('../COMMON/font/TorusNotched-Regular.ttf');
}

@font-face {
    font-family: "YouSheBiaoTiHei";
    src: url('../COMMON/font/YouSheBiaoTiHei-2.ttf');
}

body {
    margin: 0;
    padding: 0;

}

.container {
    position: absolute;
    width: 2560px;
    height: calc(1440px + 250px);
}

#match-round-container {
    position: absolute;
    top: 36px;
    left: 1194px;
    width: 171px;
    height: 48px;
    display: flex;
    justify-content: center;
}

#match-round {
    font-family: "Resource-Han-Rounded-CN-Regular", sans-serif;
    font-size: 23px;
    line-height: 48px;
}

#carousel {
    position: absolute;
    overflow: hidden; /* 超出隐藏 */
    right: 22px;
    top: 22px;
    width: 420px;
    height: 76px;
    border-radius: 34px;
}

#carousel img {
    position: absolute;
    left: -9px;
    top: -9px;
    width: 440px;
    height: 96px;
}

#carousel > ul,
#carousel > ul > li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide { /* 每个幻灯片样式 */
    position: absolute;
    width: 100%;
    opacity: 0; /* 初始不透明度为0 */
    transition: opacity 1s ease-in-out; /* 淡入淡出过渡效果 */
}

.slide.active { /* 当前显示幻灯片的样式 */
    opacity: 1; /* 显示 */
}


#playing-bg {
    position: absolute;
}

#logo {
    position: absolute;
    width: 317px;
    height: 114px;
}


#team-a-container {
    position: absolute;
    top: 1086px;
    height: 158px;
    width: 1280px;
}

#team-a-name-container {
    position: absolute;
    width: 640px;
    height: 83px;
    background-color: #824242;
    border-radius: 0px 0px 20px 0px;

}

#team-a-avatar {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 79px;
    height: 53px;
}

#team-a-name {
    font-family: "YouSheBiaoTiHei", sans-serif;
    font-size: 42px;
    position: absolute;
    left: 111px;
    top: 15px;
    color: #ffffff;
    width: 525px;
    /* 防止文本换行 */
    white-space: nowrap;
    /* 隐藏超出容器的内容 */
    overflow: hidden;
    text-overflow: ellipsis;
}

#team-a-star-container {
    position: absolute;
    left: 6px;
    top: 107px;
    display: flex;
    gap: 8px;
}

.team-a-star {
    width: 50px;
    height: 50px;
    background-color: #824242;
    border-radius: 10px;
}

.team-a-star-slot {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: solid 5px #824242;
    box-sizing: border-box;
}

#team-a-score-bar {
    position: absolute;
    right: 17px;
    top: 22px;
    width: 600px;
    height: 60px;
    background-color: #824242;
    border-radius: 30px;
    display: none;
    transition: width 0.5s;
}

#team-a-score {
    position: absolute;
    right: 40px;
    top: 90px;
    text-align: right;
    font-size: 75px;
    color: #ffffff;
    font-family: 'TorusNotched-Regular', sans-serif;
}

#team-a-score-lead {
    position: absolute;
    left: 20px;
    text-align: left;
    font-size: 30px;
    color: #ffffff;
    font-family: 'TorusNotched-Regular', sans-serif;
    transform: translateY(-50%);
    top: 50%;
}

#team-b-score-lead {
    position: absolute;
    right: 20px;
    text-align: right;
    font-size: 30px;
    color: #ffffff;
    font-family: 'TorusNotched-Regular', sans-serif;
    transform: translateY(-50%);
    top: 50%;
}


#team-b-container {
    position: absolute;
    top: 1086px;
    right: 0;
    height: 158px;
    width: 1280px;
}

#team-b-name-container {
    position: absolute;
    width: 640px;
    height: 83px;
    right: 0;
    background-color: #415a8a;
    border-radius: 0px 0px 0px 20px;

}

#team-b-star-container {
    position: absolute;
    right: 6px;
    top: 107px;
    display: flex;
    gap: 8px;
}


.team-b-star {
    width: 50px;
    height: 50px;
    background-color: #415a8a;
    border-radius: 10px;
}

.team-b-star-slot {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: solid 5px #415a8a;
    box-sizing: border-box;
}

#team-b-avatar {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 79px;
    height: 53px;
}

#team-b-name {
    font-family: "YouSheBiaoTiHei", sans-serif;
    font-size: 42px;
    position: absolute;
    right: 111px;
    top: 15px;
    color: #ffffff;
    width: 525px;
    /*右对齐*/
    text-align: right;
    /* 防止文本换行 */
    white-space: nowrap;
    /* 隐藏超出容器的内容 */
    overflow: hidden;
    text-overflow: ellipsis;
}

#team-b-score-bar {
    position: absolute;
    left: 17px;
    top: 22px;
    width: 600px;
    height: 60px;
    background-color: #415a8a;
    border-radius: 30px;
    display: none;
    transition: width 0.5s;
}

#team-b-score {
    position: absolute;
    left: 40px;
    top: 90px;
    text-align: right;
    font-size: 75px;
    color: #ffffff;
    font-family: 'TorusNotched-Regular', sans-serif;
}

.blink:after {
    content: '';
    position: absolute;
    left: -120%;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    transform: skewx(-25deg);
    animation: slideInAndOut 1s 1; /* 动画名称、持续时间和循环次数 */
}

@keyframes slideInAndOut {
    0% {
        left: -120%;
    }
    100% {
        left: 120%;
    }
}

.fade-in {
    transition: opacity 0.5s ease; /* 透明度过渡0.5秒，效果平滑 */
}

.fade-out {
    transition: opacity 0.5s ease; /* 透明度过渡0.5秒，效果平滑 */
    opacity: 0; /* 淡出至完全透明 */
}

#danmaku-container {
    position: absolute;
    width: 570px;
    height: 114px;
    right: 23px;
    top: 1270px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    background-color: #4c4742;
    border-radius: 27px;
    border: solid 8px #33302f;
    overflow: hidden;
}

#danmaku-label-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 115px;
    height: 45px;
    background-color: #33302f;
    border-radius: 19px 0px 19px 0px;
    display: flex;
    justify-content: center;
}

#danmaku-label {
    font-family: "Resource-Han-Rounded-CN-Regular", sans-serif;
    font-size: 25px;
    color: #ffffff;
    line-height: 45px;
}

#danmaku-logo-container {
    position: absolute;
    right: -22px;
    top: -89px;
    transform: rotate(15deg);
    width: 307px;
    height: 255px;
    background-color: #2c2a27;
    mask: url(../COMMON/img/logo2.png) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: url(../COMMON/img/logo2.png) no-repeat;
    -webkit-mask-size: 100% 100%;

    opacity: 0.29;
}

.rolling-girl {
    padding-left: 20px;
    display: inline-block;
    white-space: nowrap;
    animation: 40s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


#chat {
    position: absolute;
    width: 1160px;
    height: 273px;
    top: 1121px;
    left: 700px;
    background-color: #211f1d;
    border-radius: 27px;
    border: solid 6px #33302f;
    box-sizing: border-box;
    opacity: 0;
}

#chat-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 143px;
    height: 36px;
    background-color: #33302f;
    border-radius: 21px 0px 21px 0px;
    display: flex;
    justify-content: center;
}

#chat-label {
    font-family: "Resource-Han-Rounded-CN-Regular", sans-serif;
    font-size: 18px;
    color: #ffffff;
    /*垂直居中*/
    line-height: 36px;
}

#chat-content {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 1140px;
    height: 240px;
    overflow-y: auto; /* 当内容溢出时，自动显示垂直滚动条 */
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-content p {
    font-family: Sarasa-UI-SC-Bold, sans-serif;
    font-size: 25px;
    margin: 0px;
    color: #ffffff;
}

.time {
    color: #e3e3e3;
}

.player-a-name-chat {
    color: #ea5455;
}

.unknown-chat {
    color: #28cc9e;
}

.player-b-name-chat {
    color: #a1eafb;
}




#map-info-container {
    position: absolute;
    left: 697px;
    top: 1262px;
    width: 1167px;
    height: 114px;
    border-radius: 30px;
}

.picked-by-team-a {
    border-color: #824242;
    border-width: 8px;
    border-style: solid;
}

.picked-by-team-b {
    border-color: #415a8a;
    border-width: 8px;
    border-style: solid;
}

.picked-tiebreaker {
    border-color: #5e684b;
    border-width: 8px;
    border-style: solid;
}

.team-a-map-mod-container {
    width: 109px;
    height: 39px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    /*水平垂直居中*/
    justify-content: center;
    align-content: center;

    /*用#824242填充这个div*/
    background-color: #824242;
    border-radius: 21px 0px 21px 0px;
    z-index: 2;
}

.team-a-map-mod {
    width: 58px;
    height: 24px;
    font-family: TorusNotched-Regular, sans-serif;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.team-b-map-mod-container {
    width: 109px;
    height: 39px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    /*水平垂直居中*/
    justify-content: center;
    align-content: center;

    /*用#415a8a填充这个div*/
    background-color: #415a8a;
    border-radius: 21px 0px 21px 0px;
    z-index: 2;
}

.team-b-map-mod {
    width: 58px;
    height: 24px;
    font-family: TorusNotched-Regular, sans-serif;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.tiebreaker-map-mod-container {
    width: 109px;
    height: 39px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    /*水平垂直居中*/
    justify-content: center;
    align-content: center;

    /*用#5e684b填充这个div*/
    background-color: #5e684b;
    border-radius: 21px 0px 21px 0px;
    z-index: 2;
}

.tiebreaker-map-mod {
    width: 58px;
    height: 24px;
    font-family: TorusNotched-Regular, sans-serif;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}


#map-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片的宽高比并填充容器 */
    overflow: hidden; /* 隐藏超出容器的内容 */
    border-radius: 22px;
    filter: brightness(60%);
}


#map-title {
    position: absolute;
    width: 842px;
    font-family: Resource-Han-Rounded-CN-Regular, sans-serif;
    font-size: 33px;
    color: #ffffff;
    left: 160px;
    top: 15px;
    /* 防止文本换行 */
    white-space: nowrap;
    /* 隐藏超出容器的内容 */
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    /* 水平居中 */
    text-align: center;
}

#map-data-container {
    position: absolute;
    top: 71px;
    left: 78px;
    width: 1010px;
    text-align: center;
}

.map-data-text {
    color: #efca1b;
    font-size: 28px;
    font-family: Resource-Han-Rounded-CN-Regular, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.map-data-label {
    color: #ffffff;
    font-size: 28px;
    font-family: Resource-Han-Rounded-CN-Regular, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.control-panel {
    background: #363636;
    width: 2560px;
    height: 250px;
    position: absolute;
    top: 1440px;
}

.panel-title {
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;

    top: 3px;
    left: 10px;

}

.panel-buttons {
    position: relative;
}

.panel-label {
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

.button-inactive {
    background-color: #1d536e;
    border-radius: 8px;
    width: 100px;
    height: 48px;
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 20px;
    color: #808080;
    border: none;
}

.button-active {
    background-color: #44aadd;
    border-radius: 8px;
    width: 100px;
    height: 48px;
    font-family: 'TorusNotched-Regular', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

.button-active:hover {
    background-color: #64cafd;
}

.button-inactive:hover {
    background-color: #2b617c;
}

.round-control {
    position: absolute;
    width: 480px;
    top: 40px;
}

.round-control-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-a-player-list,
.team-b-player-list {
    display: flex;
    gap: 20px;
}
